.switchLanguage {
    margin: 0 2rem;
    padding: 0.5rem;
    border: none;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--colorPri8);
    border-radius: 5px;

}



/* .switchLanguage select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.switchLanguage .select{
    display: flex;
    align-items: center;
}

.imgFlag {
    width: 30px;
} */