.cardPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.cardPhoto source {
    width: 100%;
}

@media only screen and (min-width: 1440px) {

    .cardPhoto source {
        padding-top: 5rem;
    }

}
