.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-initialized {
  width: 90% !important;
}

.img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.5s ease-in-out !important;
}

.img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

/* Custom styles for the navigation arrows outside the carousel */
.custom-navigation {
  position: relative !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--colorPri2) !important;
  background-color: none;
  position: absolute !important;
  top: 0;
}

.swiper-button-next:hover {
  transform: scale(1.1) !important;
  padding-left: 0.5rem !important;
}

.swiper-button-prev:hover{
  transform: scale(1.1) !important;
  padding-right: 0.5rem !important;
}



/* Check other capabilities
.swiper {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
} */