.homeAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
}


/* Media query for devices with a maximum width of 600 pixels */
@media only screen and (min-width: 768px) {
    .homeAbout {
        flex-direction: column;
        align-items: center;
        padding: 0 0.5rem;
    }


}