.roomDescription {
    margin-left: 1rem;
}

.roomDescription h2 {
    text-align: center;
    color: var(--colorPri6);
}

.roomDescription p {
    padding: 0 1rem;
    color: var(--colorPri8);
    text-align: center;
}

.roomDescription ul {
    text-align: center;
    /* padding: 0 2rem; */
    list-style: none;
    color: var(--colorPri8);
}


.roomDescription ul li::before {
    content: "\274D";
    color: var(--colorPri8);
    margin-right: 5px;
}

@media only screen and (min-width: 1440px) {
    
    .roomDescription h2,
    .roomDescription p,
    .roomDescription ul {
        text-align: start;
    }

    .roomDescription p {
        padding: 0;
    }
}

