.footer {
    background-color: var(--colorPri8);
    width: 100%;
    clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%);
    margin-top: 10rem;
}


.footerContainer {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

@media only screen and (min-width: 1024px) {


    .footerContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        top:15rem;
       

    }

    .logoFooter{
        grid-column: span 4;
    }

    .contactFooter1{
        grid-column: span 2;
    }

    .contactFooter2{
        grid-column: span 2;

    }

    .socialFooter{
        grid-column: span 4;
    }

    .copyFooter{
        grid-column: span 4;
        display: flex;
        justify-content: center;
        /* align-items: start; */
        margin-top: 5rem;
    }
}


@media only screen and (min-width: 1440px) {

    /* footer {
        height: 760px;
    } */

    .footerContainer{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        top:15rem;
        padding-top: auto;
    }

    .logoFooter{
        grid-column: span 3;
    }

    .contactFooter1{
        grid-column: span 3;
    }

    .contactFooter2{
        grid-column: span 3;

    }

    .socialFooter{
        grid-column: span 3;
    }

    .copyFooter{
        grid-column: span 12;
        display: flex;
        justify-content: center;
        /* align-items: start; */
        margin-top: 5rem;
    }
}