.footerContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
}

.footerContact h3 {
  color: var(--colorPri2);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.footerContact a {
  text-decoration: none;
  display: flex;
  width: 330px;
  height: 32px;
  padding: 4px 0px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  color: var(--bgColor);
}

.footerContact span {
  margin-left: 5px;
  width: 100%;
}