.activityList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.activityList__header {
    text-align: center;
}

.activityList__paragraph {
    padding: 1rem;
    word-spacing: 1px;
    line-height: 1.5;
}


@media only screen and (min-width: 1440px) {

    .activityList {
        max-width: 1440px;
    }

    .activityList__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1250px;
    }

    .activityList__items_description {
        padding-left: 1rem;
        padding-right: 1.2rem;
    }

    .activityList__items_photo {
        /* padding-top: 1.5rem; */
    }

    .activityList__item1 {
        order: 2;
    }

    .activityList__item2 {
        order: 1;
    }

    .activityList__item3 {
        order: 3;
    }

    .activityList__item4 {
        order: 4;
    }

    .activityList__item5 {
        order: 6;
    } 
    
    .activityList__item6 {
        order: 5;
    }   

    .activityList__item7 {
        order: 7;
    }   

    .activityList__item8 {
        order: 8;
    }   
}
